

.advantages-list {
   @include for-size(tablet-landscape) {
        display: flex;
        flex-wrap: wrap;
        
    } 

    @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
    }

  

    @include for-size(desktop){
     display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    width: calc((100%)/2);
    }
    .advantages-list-item {

      @media screen and (max-width: 767px) {
        max-width: 450px;
      }

     
    }
}

.list-deskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-list-item::before {
  display: block;
  content: "";
  min-height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  
}

.advantages-list-item:not(:last-child) {
    
    @media screen and (max-width: 767px){
    margin-bottom: 30px;}
}
.icon-first::before {
  background-image: url(../image/svg/advantages-svg/Group.svg);
}

.icon-second:before {
  background-image: url(../image/svg/advantages-svg/clock.svg);
}

.icon-third:before {
  background-image: url(../image/svg/advantages-svg/diagram.svg);
}

.icon-fourth:before {
  background-image: url(../image/svg/advantages-svg/astronaut.svg);
}

.advantages-list-item:not(:last-child) {
    @include for-size(desktop){
  margin-right: 30px;}
}
