.potfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
  margin: 0;
  padding-top: 20px;
  margin-bottom: 4px;
}

.portfolio-deskription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-cards-img {
  width: 100%;
}
.portfolio-list-item {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: calc((100%) / 1);
  }
  @include for-size(tablet-landscape) {
    width: calc((100%) / 2);
    padding-right: 15px;
    padding-left: 15px;
  }
  @include for-size(desktop) {
    width: calc((100%) / 3);
  }
}

.portfolio-list-item:last-child {
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
}

.portfolio-list-item:not(:last-child) {
  @include for-size(tablet-portrait) {
    margin-bottom: 30px;
  }
}

.portfolio-list-item:nth-last-child(-n + 3) {
  @include for-size(desktop) {
    margin-bottom: 94px;
  }
}

.portfolio-list-item:not(:nth-child(-n + 3)) {
  @include for-size(desktop) {
    margin-top: 30px;
  }
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-border {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  border-top: none;
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  @include for-size(phone-only) {
    overflow: auto;
  }
}

.cards-block {
  position: relative;
  overflow: hidden;
  &:hover .overlay {
    transform: translatex(0);
    overflow: auto;
  }
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-color;
  transform: translateY(100%);
  transition: 250ms ease;
}
