
.footer {
  background-color: #2f303a;

}

.footer-block {
  
  @media screen and (max-width: 767px){
  text-align: center;

  }
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and (max-width: 767px){
    padding-top: 20px;
  }
}

.connect-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 767px){
    padding-top: 8px;
  }

}

.mailing-container {
  padding-top: 20px;
}

.mailing-mesage {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  resize: none;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 16px;
  padding-top: 15px;
  color: $primary-white-color;
  margin-right: 12px;
}





// .address-footer {
//   display: flex;
//   flex-direction: column;
// }



// .footer-block {
//   display: flex;
// }


// .footer-list-item:not(:last-child) {
//   margin-bottom: 9px;
// }

// .footer-list-item:last-child {
//   padding-bottom: 60px;
// }




// .join {
//   padding-bottom: 100px;
//   margin-left: 70px;
// }

// .footer-social-list {
//   display: flex;
// }

// .footer-social-list-item:not(:last-child) {
//   margin-right: 10px;
// }

// .icon-footer-social {
//   fill: $primary-white-color;
// }

// .mailing-btn {
//   margin-left: 93px;
// }



// .icon-footer-btn {
//   width: 24px;
//   height: 24px;
//   fill: $primary-white-color;
//   margin-left: 10px;
// }

// .hero-btnf {
//   display: flex;
//   justify-content: center;
//   width: 200px;
//   height: 50px;
//   background: $accent-color;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   outline: none;
// }

// .text-btnf {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
//   color: $primary-white-color;
// }

// .icon-footer-btn {
//   width: 24px;
//   height: 24px;
//   fill: $primary-white-color;
//   margin-left: 10px;
// }

// .footer-social-list-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   content: "";
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background: rgba(255, 255, 255, 0.1);
//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }
// .mailing-btn {
//   display: flex;
// }
// .container-btn-footer {
//   padding-top: 108px;
//   padding-bottom: 94px;
// }
// .position-footer-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }