
.footer {
  background-color: #2f303a;

}

.footer-block {
  padding-left: 15px;
  padding-right: 15px;
  
  @media screen and (max-width: 1199px){
  text-align: center;

  }

  @include for-size(desktop) {
    display: flex;
    justify-content: flex-start;
  }
}

.tablet-footer-block  {
  @include for-size(tablet-landscape) {
  display: flex;
  justify-content: center;
  }
  
}

.join {
  @include for-size(tablet-landscape) {
  margin-left: 165px;
  padding-top: 5px;
  }
  @include for-size(desktop) {
  margin-left: 70px;
  padding-top: 72px;
  }

}


.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;

}

.connect-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;

  @media screen and (max-width: 1199px){
    padding-top: 8px;
  }

}

.mailing-btn {
  @include for-size(desktop) {
    margin-left: 93px;
    padding-top: 72px;
    
  }
}

.mailing-container {
  @media screen and (max-width: 1199px){
  padding-top: 20px;
  }

  @include for-size(desktop) {
    display: flex;
    position: relative;
    padding-top: 20px;
  }
}

.mailing-mesage {
  
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  resize: none;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 16px;
  padding-top: 15px;
  color: $primary-white-color;
  margin-right: 12px;

  @include for-size(tablet-portrait) {
    width: 100%;
  }

  @media screen and (max-width: 1199px){
    width: 450px;
  }

  @include for-size(desktop) {
  width: 358px;
  }

}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btn-footer {
  padding-top: 20px;
  padding-bottom: 60px;
  
  @include for-size(desktop) {
    display: flex;
    padding: 0;
    
  }
}


.icon-footer-btn {
  fill: $primary-white-color;
  margin-left: 10px;
}

.desktop-container {
  @include for-size(desktop) {
    display: flex;
    align-items: flex-end;
    
  }
}


.footer-list-item:not(:last-child) {
  @include for-size(desktop) {
  margin-bottom: 9px;  
  }
  
}

.footer-list-item:last-child {
   @include for-size(desktop) {
  padding-bottom: 60px;}
}




// .join {
//   padding-bottom: 100px;
//   margin-left: 70px;
// }

// .footer-social-list {
//   display: flex;
// }

// .footer-social-list-item:not(:last-child) {
//   margin-right: 10px;
// }

// .icon-footer-social {
//   fill: $primary-white-color;
// }

// .mailing-btn {
//   margin-left: 93px;
// }



// .icon-footer-btn {
//   width: 24px;
//   height: 24px;
//   fill: $primary-white-color;
//   margin-left: 10px;
// }

// .hero-btnf {
//   display: flex;
//   justify-content: center;
//   width: 200px;
//   height: 50px;
//   background: $accent-color;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   outline: none;
// }

// .text-btnf {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
//   color: $primary-white-color;
// }

// .icon-footer-btn {
//   width: 24px;
//   height: 24px;
//   fill: $primary-white-color;
//   margin-left: 10px;
// }

// .footer-social-list-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   content: "";
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background: rgba(255, 255, 255, 0.1);
//   
// }
// .mailing-btn {
//   display: flex;
// }
// .container-btn-footer {
//   padding-top: 108px;
//   padding-bottom: 94px;
// }
// .position-footer-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }