
.header {

  .header-content {
    padding-left: 15px;
    padding-right: 15px;
    
    @include for-size(tablet-landscape) {
    display: flex;
    }

  }

  .header-list{
     @include for-size(tablet-landscape) {
    display: flex;
    padding-top: 32px;
    margin-left: 88px;
      
    }

    @include for-size(desktop) {
      margin-left: 93px;
    }

  }

  .link-header {

    color: $title-text-color;
    &:hover,
    &:focus {
    color: $accent-color;
    }

    @include for-size(tablet-landscape) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;

    }
  }

  .current {
    color: $accent-color;
  }

  .current:after {
    content: "";
    display: block;
    height: 26px;
    border-bottom: 4px solid $accent-color;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      height: 8px;
      width: 61px;
      margin: 0 auto;
    }

    @include for-size(tablet-landscape) {
    height: 30px; 
    }

  }

}

.address-list-item:nth-child(even) {

    @media screen and (max-width: 767px) {
    margin-top: 10px;
    }
}

.connect-header {
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation {

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;  
    padding-top: 60px;
    }
}

.address-block {

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
     
  }

  @include for-size(tablet-landscape) {
    margin-left: auto;
  }

  @include for-size(desktop) {
    margin-left: auto;
  }



  .header-adress{

    @media screen and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
    
  }

  @include for-size(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
    
    }
  }
    .address-list-item {
  
      @include for-size(tablet-landscape) {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.02em;
      }
    }

    @include for-size(desktop) {

    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    }

    .icon-address-1 {
      width: 16px;
      height: 11px;
      fill: currentColor;
      
      
      @include for-size(tablet-landscape) {
        width: 16px;
        height: 12px;
        margin-right: 10px;
      }

      @include for-size(desktop) {
      width: 14px;
      height: 10px;
      margin-right: 8px;

    }

    }

    .icon-address-2 {
      width: 10px;
      height: 15px;
      fill: currentColor;
      

      @include for-size(tablet-landscape) {
        width: 10px;
        height: 14px;
        margin-right: 8px;
      }

      @include for-size(desktop) {
      width: 10px;
      height: 16px;
      margin-right: 10px;

    }

    }
}

.address-list-item:last-child {
  @include for-size(tablet-portrait) {
    margin-top: 16px;
  }
  
  @include for-size(tablet-landscape) {
    margin-top: 10px;
  }

  @include for-size(desktop) {
    margin: 0;
  }
}

.address-list-item:not(:last-child) {

  @include for-size(desktop){
    margin-right: 50px;
  }
}

.header-list-item:not(:first-child) {
  margin-top: 40px;
}

.header-list-item:not(:last-child) {

  @include for-size(tablet-landscape) {
  margin-right: 50px;
  }
}




// .header-content {
//   display: flex;
//   justify-content: start;
// }

// .navigation {
//   margin-right: auto;
// }



// .header-list-item .current {
//   color: $accent-color;
// }

// .header-list-item:not(:last-child) {
//   margin-right: 50px;
// }



// .header-list {
//   display: flex;
//   padding-top: 32px;
// }

// .connect-header {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.333;
//   letter-spacing: 0.02em;
//   color: $primary-text-color;
//   
// }

// .header-adress {
//   display: flex;
//   justify-content: flex-end;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .address-list-item:not(:last-child) {
//   margin-right: 50px;
// }




// .link-header {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.333;
//   letter-spacing: 0.02em;
//   color: $title-text-color;
//  
// }
