.portfolio {
  border-bottom: 1px solid #ececec;
}

.buttom-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;

  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @include for-size(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;}
}

.buttom-list-item:not(:last-child) {
  margin: 8px;
}


