
.clients-list {
//   display: flex;
//   flex-wrap: wrap;
width: calc((100% - 2 * 10px) / 2);
   max-width: 5px;
}
.clients-list-item {
  // @include for-size(tablet-landscape){
  // display: flex;
  // flex-wrap: wrap;}
  // @include for-size(desktop) {
  //   display: block;
  // }
   
  width: calc((100% - 2 * 10px) / 2);
   max-width: 5px;
}

.clients-list-item:not(:last-child) {
  @include for-size(desktop) {
  margin-right: 30px;}
}

.icon-clients {
  fill: currentColor;
}

.clients-list-link {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
