.title {
   
    &-hero {
    max-width: 360px;
    min-height: 84px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62; 
    margin-bottom: 30px;

        @include for-size(desktop) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        }

    }

    &-advantages {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    }
    
    &-advantages-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-transform: uppercase;
    margin-bottom: 10px;

        @media screen and (max-width: 767px){
        text-align: center;
        }
    }

    &-comand, &-clients, &-doing {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    padding-top: 60px;
    padding-bottom: 30px;

        @include for-size(desktop) {
        font-size: 36px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        padding-top: 94px;
        padding-bottom: 50px;
        }  
    }
    
    &-footer-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
        
        @media screen and (max-width: 1199px) {
            padding-top: 60px;
        }
    
    }

}